.error {
  background: #386679;
}

.error__title {
  background: #264653;
  padding: 1rem;
}

.error__title h2 {
  margin: 0;
  color: white;
}

.error__content {
  padding: 1rem;
  color: white;
}

.error__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.error__actions button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #264653;
  background-color: #1f3944;
  border-radius: 8px;
  margin-right: 1rem;
}

.error__actions button:hover,
.error__actions button:active {
  border-color: #1f3944;
  background-color: #2a9d8f;
}
